
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    background: rgb(0,248,255);
background: -moz-linear-gradient(0deg, rgba(0,248,255,1) 0%, rgba(15,177,255,1) 50%, rgba(0,248,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,248,255,1) 0%, rgba(15,177,255,1) 50%, rgba(0,248,255,1) 100%);
background: linear-gradient(0deg, rgba(0,248,255,1) 0%, rgba(15,177,255,1) 50%, rgba(0,248,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f8ff",endColorstr="#00f8ff",GradientType=1);
}
a{
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
}
.header-content{
    background: url(../img/main.jpg) #00ffff;
    background-repeat: no-repeat;
    background-position: center;
}
.header-content .inicio{
    min-height: 90vb;
    color: aliceblue;
    background: #000000cc;
    display: grid;
    align-content: center;
}
.inicio h2{
    font-size: 40px;
}
@media screen and (max-width: 600px) {
    
    nav{
        justify-content: space-between;
    }
    .inicio h2{
        font-size: 24px;
    }
    .inicio p{
        font-size: 12px;
        padding: 10px;
    }
}
